<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.travellet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".feature.util.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ReportActivity"></activity>
        <activity
            android:name=".feature.util.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".feature.util.BaseActivity" />
        <activity
            android:name=".feature.sign.SignInActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".feature.sign.SignUp1Activity"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".feature.sign.SignUp2Activity"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name=".feature.setting.SettingActivity" />
        <activity android:name=".feature.travel.TravelActivity" />
        <activity
            android:name=".feature.travel.SetTitleActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name=".feature.travel.SetDateActivity" />
        <activity
            android:name=".feature.travel.SetBudgetActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name=".feature.place.PlaceActivity" />
        <activity android:name=".feature.place.PlaceDetailActivity" />
        <activity android:name=".feature.plan.PlanActivity" />
        <activity android:name=".feature.plan.AddPlanActivity" />
        <activity android:name=".feature.plan.AddPlace.AddPlaceActivity" />
        <activity android:name=".feature.plan.distribute.DistributeBudgetActivity" />
        <activity android:name=".feature.detail.PlanDetailActivity" />
        <activity android:name=".feature.detail.expense.AddExpenseActivity" />
        <activity android:name=".feature.detail.budget.AddBudgetActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCvnWf43FkeqO5OhkhsuX4V2_qzfZcDB3o" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>